<app-skeleton *ngIf="flagSkeletonListDetailRegistrations" [type]="'table'"></app-skeleton>
<div class="card" [hidden]="flagSkeletonListDetailRegistrations">
    <p-toolbar styleClass="p-mb-4">
        
        <ng-template pTemplate="right">
            <button pButton pRipple label="Actualizar" 
                    icon="pi pi-refresh" 
                    class="p-button-info"
                    (click)="paginatorOut.emit(paginatorIn)"></button>
        </ng-template>
    </p-toolbar>
    <p-paginator 
    [rows]="paginatorIn.per_page" 
    [totalRecords]="paginatorIn.total" 
    (onPageChange)="paginateDetailRegistration($event)"></p-paginator>
    <p-table #dt 
            [value]="detailRegistrationsIn" 
            [columns]="colsDetailRegistration" 
            [rows]="paginatorIn.per_page" 
            [paginator]="false"
            [(selection)]="selectedDetailRegistrations" 
            [rowHover]="true" 
            dataKey="id" 
            styleClass="p-datatable-customers"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [showCurrentPageReport]="true"
            
            >
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Calificaciones</h5>
               
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th>Cédula</th>
                <th>Estudiante</th>
                
                <th *ngFor="let col of columns" 
                [pSortableColumn]="col.field" 
                [ngSwitch]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>

                </th>
           
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData>
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>
                     {{rowData['registration'].participant.user.identification}}
                </td>
                <td>
                    {{rowData['registration'].participant.user.full_name}}


                </td>
                
                <td *ngFor="let col of columns">
                    {{rowData[col.field]?.name ? rowData[col.field]?.name : rowData[col.field]}}
                </td>
                
                
                <td style="text-align:center">
                    <button pButton pRipple
                            type="button" id="btnEdit"
                            pTooltip="Editar" icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning"
                            (click)="openEditFormDetailRegistration(rowData)"></button>
                    
                    <button pButton pRipple type="button" id="btnAttach"
                            pTooltip="Adjuntar Archivos" icon="pi pi-paperclip"
                            class="p-button-rounded p-ml-2"
                            (click)="selectDetailRegistration(rowData);openViewFilesDetailRegistration()"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{detailRegistrationsIn ? detailRegistrationsIn.length : 0 }} Alumnos.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog
  [(visible)]="dialogViewFiles"
  [style]="{ width: '75%' }"
  header="Plantillas para los estudiantes"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="dialogViewFiles = false"
>
  <app-view-files
    (files)="upload($event, selectedDetailRegistration.id)"
    [filesIn]="files"
    [title]="'Plantillas para el estudiante'"
    (searchOut)="searchFiles($event)"
    [paginatorIn]="paginatorFiles"
    (paginatorOut)="getFiles($event)"
  >
  </app-view-files>
</p-dialog>