<p-fileUpload
    #uploadFiles
    chooseLabel="Subir Archivos..."
    chooseIcon="pi pi-search"
    uploadLabel="Subir archivos"
    cancelLabel="Limpiar"
    name="files[]"
    [auto]="true"
    [accept]="acceptAttributes"
    [multiple]="multiple"
    [maxFileSize]="maxFileSize"
    [fileLimit]="fileLimit"
    customUpload="true"
    (uploadHandler)="upload($event,uploadFiles)">
    <ng-template pTemplate="content" let-files>
        <div class="p-text-center">
            <img src="../../../../../../assets/layout/images/components/shared/files/upload.png" alt="upload">
            <br>
            <button pButton label="Subir Archivos" [icon]="'pi pi-search'" (click)="uploadFiles.choose()"></button>
            <h6>
                o arrastre aquí sus archivos
            </h6>
        </div>
    </ng-template>
</p-fileUpload>
