<div class="card">
    <div class="p-grid">
        <div class="p-lg-5 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid p-text-center" style="width: 100%;">
                <h1>Restablecimiento de Contraseña</h1>
                <p>Se enviará un link temporal a su correo electrónico</p>
                <hr>
                <img src="assets/layout/images/login/password_forgot.png" alt="mirage-layout"/>
            </div>
        </div>
        <div class="p-lg-2 p-md-12 p-sm-12">
            <p-divider layout="vertical"></p-divider>
        </div>
        <div class="p-lg-5 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid" style="width: 100%;">
                <form [formGroup]="formPasswordReset"
                      (ngSubmit)="onSubmitForgotPassword($event,grecaptchaPasswordForgot)">
                    <div *ngIf="flagPasswordReset" class="p-field">
                        <label for="usernameReset">Usuario:</label>
                        <input id="usernameReset" name="usernameReset" pInputText
                               placeholder="Cédula Ej. 0504172422" formControlName="username"/>
                        <div *ngIf="username.errors && username.touched">
                            <small id="username-reset-help-1" class="p-error"
                                   *ngIf="username.hasError('required')">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                    <div *ngIf="flagPasswordReset" class="p-field">
                        <button id="passwordReset" name="passwordReset" type="submit"
                                pButton icon="pi pi-arrow-right" label="Continuar"></button>
                    </div>
                    <div class="p-field">
                        <p-captcha #grecaptchaPasswordForgot [siteKey]="SITE_KEY"
                                   (onResponse)="showResponse()"></p-captcha>
                    </div>
                    <div class="p-field">
                        <button id="goToLogin" name="goToLogin" type="button" pButton label="Regresar al Login"
                                icon="pi pi-arrow-left" [routerLink]="['/auth/login']"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
