<div class="card">
    <div class="p-grid">
        <div class="p-lg-4 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid p-text-center" style="width: 100%;">
                <h1 *ngIf="!institutionField.valid">
                    Seleccione su Institución
                </h1>
                <h3 *ngIf="institutionField.valid">
                    <b>{{institutionField.value['denomination']}}
                        {{institutionField?.value['name']}}
                    </b>
                </h3>
                <hr>
                <img *ngIf="institutionField.valid" [src]="STORAGE_URL + institutionField.value['logo']"
                     alt="logo" height="80px"/>
            </div>
        </div>
        <div class="p-lg-2 p-md-12 p-sm-12">
            <p-divider layout="vertical"></p-divider>
        </div>
        <div class="p-lg-6 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid" style="width: 100%;">
                <form [formGroup]="formInstitutionRole" (ngSubmit)="onSubmitContinue($event)">
                    <div class="p-field">
                        <button id="usernameDisabled" name="usernameDisabled" pButton type="button"
                                [label]="auth?.full_name"
                                class="p-button-raised p-button-lg p-text-uppercase" iconPos="right"
                                icon="pi pi-chevron-circle-down" style="width: 100%;">
                        </button>
                    </div>
                    <div class="p-field">
                        <label for="institution">Institución:</label>
                        <p-dropdown id="institution" name="institution" formControlName="institution"
                                    [options]="institutions" optionLabel="short_name" placeholder="Seleccione..."
                                    [style]="{'width':'100%'}" (onChange)="getRoles()">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value"
                                     *ngIf="institutionField">
                                    <img [src]="STORAGE_URL + institutionField.value['logo']"
                                         style="height: 24px;position:absolute"/>
                                    <div class="p-ml-6">{{institutionField.value['short_name']}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div class="country-item">
                                    <img [src]="STORAGE_URL + item.logo"
                                         style="height:20px;position:absolute"/>
                                    <div class="p-ml-6">{{item.short_name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="institutionField.errors && institutionField.touched">
                            <small id="institutionHelp" class="p-error"
                                   *ngIf="institutionField.hasError('required')">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                    <div class="p-field" *ngIf="roles?.length>0">
                        <label for="role">Rol:</label>
                        <p-dropdown id="role" name="role" formControlName="role" [options]="roles"
                                    placeholder="Seleccione..." optionLabel="name"
                                    [style]="{'width':'100%'}" (onChange)="getPermissions()"></p-dropdown>
                        <div *ngIf="roleField.errors && roleField.touched">
                            <small id="roleHelp" class="p-error"
                                   *ngIf="roleField.hasError('required')">
                                EL campo es requerido.
                            </small>
                        </div>
                    </div>
                    <div class="p-field">
                        <button id="goToLogin" name="goToLogin" type="button" pButton label="Regresar"
                                icon="pi pi-arrow-left" (click)="returnLogin()"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
