<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/login/user_unlock.png" alt="mirage-layout"/>
                </div>
                <h1>Desbloquear Usuario</h1>
                <p>Se enviará un link temporal a su correo electrónico</p>
                <div class="forms">
                    <form [formGroup]="formPasswordReset"
                          (ngSubmit)="onSubmitForgotPassword($event,grecaptchaSecurityQuestion)">
                        <div class="login-input-wrapper">
                            <label for="usernameReset">Usuario:</label>
                            <input id="usernameReset" name="usernameReset" pInputText
                                   placeholder="Número de cédula Ej. 0504172422" formControlName="username"/>
                            <i class="pi pi-user" pTooltip="Número de cédula Ej. 0504172422"></i>
                            <div *ngIf="formPasswordReset.get('username').errors && formPasswordReset.get('username').touched">
                                <small id="usernameResetHelp" class="p-error"
                                       *ngIf="formPasswordReset.get('username').hasError('required')">
                                    Username is Required.
                                </small>
                            </div>
                        </div>
                        <div class="buttons">
                            <button *ngIf="flagPasswordReset" id="userUnlock" name="userUnlock" type="submit" pButton
                                    icon="pi pi-arrow-right"
                                    label="Continuar"
                                    class="p-button-help"></button>
                            <button id="goToLogin" name="goToLogin" type="button" pButton label="Regresar al Login"
                                    icon="pi pi-arrow-left" [routerLink]="['/auth/login']"></button>
                        </div>
                        <hr>
                        <p-captcha #grecaptchaSecurityQuestion [siteKey]="SITE_KEY"
                                   (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha>
                    </form>
                </div>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
