<div class="card">
	<div class="p-grid">
		<div class="p-lg-5 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
			<div class="p-fluid p-text-center" style="width: 100%;">
				<h1>Desbloquear Usuario</h1>
				<hr>
				<img src="assets/layout/images/login/unlock.png" alt="mirage-layout"/>
			</div>
		</div>
		<div class="p-lg-2 p-md-12 p-sm-12">
			<p-divider layout="vertical"></p-divider>
		</div>
		<div class="p-lg-5 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
			<div class="p-fluid" style="width: 100%;">
				<form [formGroup]="formPasswordReset" (ngSubmit)="onSubmitResetPassword($event)">
					<div class="p-field">
						<label for="username">Usuario:</label>
						<button  pButton id="username" name="username"type="button"
								 [label]="usernameField.value"
								 class="p-button-raised p-button-lg" iconPos="right"
								 icon="pi pi-user" style="width: 100%;"></button>
					</div>
					<div class="p-field">
						<label for="password">Nueva Contraseña:</label>
						<p-password id="password" name="password" formControlName="password"
									placeholder="Escriba su nueva contraseña" [feedback]="false"
									[toggleMask]="true">
						</p-password>
						<div *ngIf="passwordField.errors && passwordField.touched">
							<small id="password-help-1" class="p-error"
								   *ngIf="passwordField.hasError('required')">
								El campo es requerido.
							</small>
							<small id="password-help-2" class="p-error"
								   *ngIf="passwordField.hasError('minlength')">
								Mínimo de caracteres es {{passwordField.errors.minlength.requiredLength}}.
							</small>
						</div>
						<small id="password-help-3" class="p-error"
							   *ngIf="passwordConfirmationField.dirty && !checkPasswords()">
							Las contraseñas no coinciden.
						</small>
					</div>
					<div class="p-field">
						<label for="passwordConfirmation">Confimar Contraseña:</label>
						<p-password id="passwordConfirmation" name="passwordConfirmation"
									formControlName="password_confirmation" placeholder="Repita la contraseña"
									[feedback]="false" [toggleMask]="true"></p-password>
						<div *ngIf="passwordConfirmationField.errors && passwordConfirmationField.touched">
							<small id="password-confirmation-help-1" class="p-error"
								   *ngIf="passwordConfirmationField.hasError('required')">
								El campos es requerido.
							</small>
							<small id="password-confirmation-help-2" class="p-error"
								   *ngIf="passwordConfirmationField.hasError('minlength')">
								Mínimo de caracteres es {{passwordConfirmationField.errors.minlength.requiredLength}}.
							</small>
						</div>
						<small id="password-confirmation-help-3" class="p-error"
							   *ngIf="passwordConfirmationField.dirty && !checkPasswords()">
							Las contraseñas no coinciden.
						</small>
					</div>
					<div class="p-field">
						<button id="resetPassword" name="resetPassword" type="submit" pButton
								label="Desbloquear" icon="pi pi-unlock"></button>
					</div>
					<div class="p-field">
						<button id="login" name="login" type="button" pButton icon="pi pi-arrow-left"
								label="Regresar al Login" [routerLink]="['/auth/login']"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
