<div class="p-grid">
    <div class="p-col-12">
        <app-evidence-list *ngIf="!attendancesDialog" [attendancesIn]="attendances" [attendancesEndIn]="attendancesEnd" [flagAttendances]="flagAttendances"
            [paginatorIn]="paginator" [formAttendanceIn]="formAttendance" (attendancesOut)="attendances=$attendance"
            (attendancesEndOut)="attendancesEnd=$attendance" (displayOut)="attendanceDialog=$attendance" (formAttendanceOut)="formAttendance=$attendance"
            (paginatorOut)="getAttendances($attendance)">
        </app-evidence-list>

        <p-dialog [(visible)]="attendanceDialog" [style]="{width: '700px'}" header="Curso" [modal]="true"
            styleClass="p-fluid" (onHide)="attendanceDialog=false">
            
        </p-dialog>

    </div>
</div>
