<div class="layout-footer">
    <div class="logo-text">
        <img [src]="STORAGE_URL+institution?.logo" alt="logo"/>
        <div class="text">
            <h1 class="hide">&reg;{{institution?.denomination}} {{institution?.name}}</h1>
            <span>&copy; {{system?.date| date:"y"}} Todos los derechos reservados.
                        <b class="hide">{{system?.name}} ({{system?.acronym}} v{{system?.version}})</b>
                    </span>
            <br>
            <span class="hide">Iconos diseñados por
                        <a href="https://www.flaticon.es/autores/monkik" target="_blank" title="monkik">
                            monkik
                        </a>
                        from
                        <a href="https://www.flaticon.es/" title="Flaticon" target="_blank">
                            www.flaticon.es
                        </a>
                    </span>
        </div>
    </div>
    <div class="icons">
        <div class="icon icon-hastag">
            <i class="pi pi-home"></i>
        </div>
        <div class="icon icon-twitter">
            <i class="pi pi-globe"></i>
        </div>
        <div class="icon icon-prime">
            <i class="pi pi-bookmark"></i>
        </div>
    </div>
</div>
