<div class="card">
    <div class="p-grid">
        <div class="p-lg-6 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid p-text-center" style="width: 100%;">
                <h3>Por favor, cambie su contraseña</h3>
                <hr>
                <img src="assets/layout/images/login/password_change.png" alt="mirage-layout"/>
            </div>
        </div>
        <div class="p-lg-2 p-md-12 p-sm-12">
            <p-divider layout="vertical"></p-divider>
        </div>
        <div class="p-lg-4 p-md-12 p-sm-12 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid" style="width: 100%;">
                <form [formGroup]="formChangePassword" (ngSubmit)="onSubmitChangePassword($event)">
                    <div class="p-field">
                        <label for="password">Nueva Contraseña:</label>
                        <p-password id="password" name="password" formControlName="password" [toggleMask]="true">
                            <ng-template pTemplate="header">
                                <h6>Pick a password</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="p-mt-2">Suggestions</p>
                                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <div *ngIf="passwordField.errors && passwordField.touched">
                            <small id="password-help-1" class="p-error"
                                   *ngIf="passwordField.hasError('required')">
                                El campo es requerido.
                            </small>
                            <small id="password-help-2" class="p-error"
                                   *ngIf="passwordField.hasError('minlength')">
                                Mínimo de caracteres es {{passwordField.errors.minlength.requiredLength}}.
                            </small>
                        </div>
                        <small id="password-help-3" class="p-error"
                               *ngIf="passwordField.touched && !checkPasswords()">
                            Las contraseñas no coinciden.
                        </small>
                    </div>
                    <div class="p-field">
                        <label for="password_confirmation">Confirmar Contraseña:</label>
                        <p-password id="password_confirmation" name="password_confirmation"
                                    formControlName="password_confirmation"
                                    [toggleMask]="true">
                            <ng-template pTemplate="header">
                                <h6>Pick a password</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="p-mt-2">Suggestions</p>
                                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <div *ngIf="passwordConfirmationField.errors && passwordConfirmationField.touched">
                            <small id="password_confirm-help-1" class="p-error"
                                   *ngIf="passwordConfirmationField.hasError('required')">
                                El campo es requerido.
                            </small>
                            <small id="password_confirm-help-2" class="p-error"
                                   *ngIf="passwordConfirmationField.hasError('minlength')">
                                Mínimo de caracteres es {{passwordConfirmationField.errors.minlength.requiredLength}}.
                            </small>
                        </div>
                        <small id="password_confirm-help-3" class="p-error"
                               *ngIf="passwordConfirmationField.dirty && !checkPasswords()">
                            Las contraseñas no coinciden.
                        </small>
                    </div>
                    <div class="p-field">
                        <button id="changePassword" name="changePassword" type="submit" pButton
                                label="Cambiar Contraseña" icon="pi pi-key"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
