.landing-body .section#meet-mirage {
	background-color: #eceff4;
	padding: 24px 5% 170px;
	position: relative;
}

.landing-body .section#meet-mirage .feature-cards .feature-card .feature-card-img img {
	width: 75px;
	height: auto;
	margin-top: 10px;
}
