<div class="card">
    <h5>Rol Docentes</h5>
    <p-tabView>
        <p-tabPanel header="Cursos" leftIcon="pi pi-calendar-plus" tooltip="">
            <app-course></app-course>
        </p-tabPanel>
        <p-tabPanel header="Notas" leftIcon="pi pi-calendar-plus" tooltip="">
            <app-grades></app-grades>
        </p-tabPanel>
         <p-tabPanel header="Asistencia y Evidencia" leftIcon="pi pi-calendar-plus" tooltip="">
            <app-evidence></app-evidence>
        </p-tabPanel>
        
    </p-tabView>
</div>
